<div class="student-edit-page">
  <div class="actions">
    <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" data-toggle="pill" href="#v-pills-home" role="tab" aria-selected="true">Edit Profile</a>
    </div>
  </div>
  <div class="details tab-content">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      <!-- Form edit profile -->

      <%= form_with model: current_student, local: true, html: {class: "form-horizontal form-edit-student"} do |f| %>
        <div class="form-group row">
          <div class="wrapper col-sm-3 col-form-label">
            <% if current_student.avatar.attached? %>
              <%= image_tag current_student.avatar %>
            <%end %>
          </div>
          <div class="col-sm-9">
            <p class="username"><%= current_student.name %></p>
            <a class="change-photo" href="">Change Profile Photo</a>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :name, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :batch, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :batch, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :gender, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.text_field :gender, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :college_id, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.select :college_id, options_for_select(@colleges.collect{ |u| [u.name, u.id] }), class: 'form-control' %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :avatar, class: 'col-sm-3 col-form-label' %>
          <div class="col-sm-9">
            <%= f.file_field :avatar, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-9">
            <%= f.submit "Submit", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>


    </div>
  </div>
</div>