<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <% if current_student.avatar.attached? %>
          <%= image_tag current_student.avatar %>
        <%end %>
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= current_student.name %></h2>
        <a class="edit-profile" href="<%= edit_student_path(current_student) %>">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>Batch : </span> <%= current_student.batch %></li>
        <li><span>Gender : </span> <%= current_student.gender %></li>
      </ul>
      <% if current_student.college_id %>
        <span>College : </span><%= link_to College.find(current_student.college_id).name , college_path(:id => current_student.college_id) %>
      <% end %>
    </div>
  </div>
</div>