<h2>Colleges List</h2>
<ul>
  <% @colleges.each do |college| %>
    <li>
      <%= college.id %>
      <%= college.name %>
      <%= college.address %>
      <%= link_to "view", college_path(:id => college.id) %>
    </li>
  <% end %>
</ul>

<span><%= link_to "Add new college", new_college_path %></a>