
<br>
<h2>Create college</h2>
<br>
<%= form_for College.new do |f| %>
  <div class="form-group row">
    <%= f.label :name, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-4">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :address, class: 'col-sm-2 col-form-label' %>
    <div class="col-sm-4">
      <%= f.text_field :address, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :logo, class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-9">
      <%= f.file_field :logo, class: 'form-control' %>
    </div>
  </div>
  <div class="text-center">
    <%= f.submit 'Create College', class: 'btn btn-primary' %>
  </div>
<% end %>