


<% @college = College.find(params[:id]) %>
<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <% if @college.logo.attached? %>
          <%= image_tag @college.logo %>
        <%end %>
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%= @college.name %></h2>
      </div>
      <ul class="posts">
        <li><span>Address : </span> <%= @college.address %></li>
        <li><span>Total_visits : </span> <%= Rails.cache.read(params[:id]) %></li>
      </ul>
      <% if @user_arr.any? %>
        <span>Current users : </span>
        <ul>
          <% @user_arr.each do |each_user| %>
            <li><%= each_user %></li>
          <% end %>
        </ul>
      <% end %> 

      <span><%= link_to "All_colleges", colleges_path %></a>
    </div>
  </div>
</div>