<!DOCTYPE html>
<html>
  <head>
    <title>Pratilipi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="#">
            Assignment
          </a>
        </div>
        <div class="student-section">
          <% if student_signed_in? %>
            <a href="<%= colleges_path %>">
              Colleges
            </a>
            <a href="<%= student_path(current_student)%>">
              <i class="fa fa-user"></i>
            </a>
            <a href="<%= destroy_student_session_path%>" data-method="delete">
              <i class="fa fa-sign-out"></i>
            </a>
          <% else %>
            <a href="<%= new_student_session_path%>">
              <i class="fa fa-sign-in"></i>
            </a>
          <% end %>

        </div>
      </div>
    </nav>

    <!--Main content-->
    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li>Assignment by PRATILIPI</li>
        </ul>
      </nav>
    </footer>
  </body>
</html>