<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div> 

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "new-name" %>
  </div>

  <div class="field">
    <%= f.label :batch %><br />
    <%= f.text_field :batch, autocomplete: "new-batch" %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender, autocomplete: "new-gender" %>
  </div>

  <div class="field">
    <%= f.label :college_id %><br />
    <%= f.select :college_id, options_for_select(@colleges.collect{ |u| [u.name, u.id] }) %>
  </div>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar, autocomplete: "new-avatar" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "students/shared/links" %>
